
.container {
  /* background: url('https://c4.wallpaperflare.com/wallpaper/149/768/925/computer-90s-microsoft-windows-vintage-wallpaper-preview.jpg');
  background-size: fill;
  background-position: left center;
  background-repeat: no-repeat; */
  font-family: Arial, Helvetica, sans-serif;
  display:flex;
  flex-direction: column;
}

header {
  display: flex;
  height: 2em;
  width: 100%;
  background-color: blue;
  color:white; 
}

.room-side-bar{
  border: solid 1px black;
  width: 20%;
  margin-top: 2em;
}

.room-side-bar ul {
  list-style-type: none;
}

.room-button button{
  display:flex;
  flex-direction: column;
}

.message-list-view {
  border: solid 1px black;
  width: 70%;
  height: 100vh;
  display:flex;
  flex-direction: column;
  margin-top: 2em;
  margin-left:30%;

}